.sfua-widget {
  /* max-width: 300px; */
  margin: 0 auto;
}

.sfua-widget-tab-container {
  max-width: 300px;
  margin: 1rem auto;
}

.sfua-donate-form__input-box {
  display: flex;
  align-items: center;
  max-width: 300px;
  background: #fff;
  border: 1px solid #a0a0a0;
  margin-top: 10px;
  padding-left: 0.5rem;
  overflow: hidden;
  font-family: sans-serif;

  border: 1px solid #fed02f;
  color: #000;
}

.sfua-donate-form__input-box .sfua-donate-form__input-box__prefix {
  font-weight: 300;
  font-size: 14px;
  color: #000;
}

.sfua-donate-form__input-box .sfua-donate-form__input-box__large {
  font-size: 25px;
  line-height: 32px;
  border: none;
}

.sfua-donate-form__input-box input, textarea {
  flex-grow: 1;
  background: #fff;
  border: none !important;
  outline: none;
  padding: 0.5rem;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.sfua-donate-form__input-box input::placeholder, textarea::placeholder {
  color: #999;
}

.sfua-donate-form__input-box:focus-within {
  border: 1px solid #0d5fb5;
}

.sfua-donate-form__submit {
  margin-top: 10px;
  width: 100%;
}

.sfua-donate-form__submit input {
  background-color: #0d5fb5;
  color: white;
  display: block;
  padding: 15px;
  border: 1px solid #0d5fb5;
  outline: none;
  margin: auto;
}

.sfua-donate-form__submit-alt input[type=submit] {
  background-color: #0d5fb5;
  color: white;
  display: block;
  padding: 15px;
  border: 1px solid #0d5fb5;
  outline: none;
  margin-top: 10px;
  width: 100%;
  height: 56px;
  cursor: pointer;
}

.sfua-donate-form__amount-select {
  margin-top: 10px;
  font-size: 1.2rem;
}

.sfua-donate-form__add {
  margin-top: 10px;
  font-size: 0.8rem;
}

.invoice-insights__payments-banner {
  padding: 8px 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
}

.wv-icon--payment-method--bank-payment {
  background-image: url(https://dmrokfxvkn5v8.cloudfront.net/20.14.0/images/icons-payment-methods/bank-payment.svg);
  border: 1px solid #dcdfe0;
}

.wv-icon--payment-method--cc-amex {
  background-image: url(https://dmrokfxvkn5v8.cloudfront.net/20.14.0/images/icons-payment-methods/cc-amex.svg);
  border: 1px solid #dcdfe0;
}

.wv-icon--payment-method--cc-mastercard {
  background-image: url(https://dmrokfxvkn5v8.cloudfront.net/20.14.0/images/icons-payment-methods/cc-mastercard.svg);
  border: 1px solid #dcdfe0;
  background-color: #fff;
}

.wv-icon--payment-method--cc-visa {
  background-image: url(https://dmrokfxvkn5v8.cloudfront.net/20.14.0/images/icons-payment-methods/cc-visa.svg);
  border: 1px solid #dcdfe0;
}

.wv-icon--payment-method--small {
  height: 26px;
  width: 40px;
  background-size: 40px 26px;
  border-radius: 3px;
  margin: 0 1px;
}

/* Progress bar */
.sfua-widget-progress-container {
  margin: 0 auto;
  /* width: 100%; */
  background-color: #FFD500;
  padding: 2.5rem;
  color: #005BBB;
}
.sfua-widget-progress-container > h2 {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
  margin: 0;
}


/* background: */
progress::-webkit-progress-bar {background-color: white; width: 100%;}
progress {background-color: white;}

/* value: */
progress::-webkit-progress-value {background-color: #005BBB !important;}
progress::-moz-progress-bar {background-color: #005BBB !important;}
progress {color: #005BBB;}

.sfua-widget-progress-container > progress {
  width: 100%;
  /* height: 1.5rem; */
}
.sfua-widget-progress-container div {
  display: flex;
}
.sfua-widget-progress-container p {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 150%;
}
.sfua-widget-progress-container div p:first-child {
  text-align: left;
  margin-right: auto;
}
.sfua-widget-progress-container div p:last-child {
  text-align: right;
}
.sfua-widget-progress-container strong {
  font-size: 2rem;
}
